<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318389768634-04citnpupi78ala9aj3nitqs5pkeeu0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318389768634-04citnpupi78ala9aj3nitqs5pkeeu0q</string>
	<key>API_KEY</key>
	<string>AIzaSyD76T1cHLEn6wfMW2eyRm41gTNcU50-5ZI</string>
	<key>GCM_SENDER_ID</key>
	<string>318389768634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>indoor.biotechnologies.mast</string>
	<key>PROJECT_ID</key>
	<string>mast-b0959</string>
	<key>STORAGE_BUCKET</key>
	<string>mast-b0959.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318389768634:ios:5cbd707ec77a33970a4d83</string>
	<key>DATABASE_URL</key>
	<string>https://mast-b0959.firebaseio.com</string>
</dict>
</plist>